/* PAGINA INICIAL */

.pag-inicial {
    margin: 0;
    padding: 0;
    background-image: url('img/4.avif');
    background-size: cover; /* Faz a imagem cobrir todo o corpo */
    background-position: center; /* Centraliza a imagem */
    height: 100vh; /* Faz o corpo ocupar toda a altura da tela */
  
}

.texto-nav {
text-decoration-line: none;
text-decoration: none;
text-decoration-color: black;
    margin-right: 30px;
    color: rgb(56, 26, 21);
    font-size: 20px;
opacity: 100%;
}

.texto-nav1 {
  text-decoration-line: none;
  text-decoration: none;
  text-decoration-color: black;
      margin-right: 30px;
      color: rgb(241, 234, 232);
      font-size: 20px;
  opacity: 100%;
  }

#nav-inicial1{
  background-color: rgb(85, 150, 98);
}

/* IMAGEM ESTRELA TRANSICAO */

.transition-image {
    position: fixed;
    top: 150px;
    left: 500px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    opacity: 0;
    background-image: url('img/star-removebg-preview.png');
    background-size: cover;
    animation: fadeInOut 2s ease-in-out;
    width: 500px;
    height: 500px;
  }
  @keyframes fadeInOut {
    0%, 100% { opacity: 0; }
    50% { opacity: 10; }
  }

  /* SUB-PAGINAS- CONTEUDO PRINCIPAL - DIVS */
  .sos {
    display: flex;
    justify-content:flex-start;
    align-items: flex-start;
    border-radius: 30px;
    border: 3px;
    padding: 10px;
    margin: 10px;
    /* min-width: 45%;
    max-width: 100%; */
    /* flex-wrap: wrap; */
    gap: 10px;
    /* flex-direction: row; */
  }

  .img-div {
    background-color: antiquewhite;
    border-radius: 30px;
    border: 3px;
    padding: 10px;
    margin: 10px;
    /* flex-wrap: wrap; */
    flex-flow: column;
    display: flex;
    /* display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 50%;
    flex-direction: row; */
    min-width: 45%;
  }

  .img-da-div{
    border-radius: 30px;
    border: 3px;
    margin: 10px;
    /* flex-wrap: wrap; */
    flex-flow: column;
    min-width: 45%;
    /* min-width: 45%;
    max-width: 100%; */
  }

  .text-div {
    background-color: antiquewhite;
    border-radius: 30px;
    margin: 10px;
    padding: 10px;
    flex-wrap: wrap;
    flex-flow: column;
    /* display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 50%;
    flex-direction: row;
  */
    min-width: 45%;
  }