/* Estilo para o corpo da página */
body {
    font-family: Arial, sans-serif;
    background-color: #006233; /* Verde escuro da bandeira de Marrocos */
    color: #f5f5f5; /* Branco para o texto */
}

/* Estilo para os títulos */
h1 {
    color: #c8102e; /* Vermelho da bandeira de Marrocos */
}

/* Estilo para os rótulos dos campos */
label {
    display: block;
    margin-bottom: 5px;
    color: #f5f5f5; /* Branco para os rótulos dos campos */
}

/* Estilo para os campos de entrada */
input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

/* Estilo para o botão de registrar */
button {
    background-color: #c8102e; /* Vermelho da bandeira de Marrocos */
    color: #f5f5f5; /* Branco para o texto do botão */
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}

button:hover {
    background-color: #a3001b; /* Vermelho mais escuro ao passar o mouse */
}
